/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

.alert_message {
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

.success {
    background-color: #28a745;
    color: #fff;
}

.error {
    background-color: #dc3545;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin: 10px 0;
}

input[type="text"],
input[type="hidden"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #0c7a08;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #00b318;
}

.btn1_centro {
    text-align: center;
    margin-top: 20px;
}

.btn1 {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
}

.btn1:hover {
    background-color: #0056b3;
}

.btn1.danger {
    background-color: #5f050e;
}

.btn1.danger:hover {
    background-color: #a51b29;
}

/* styles.css */

.form_section {
    text-align: center;
    margin-top: 20px;
}

.form_section-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.alert_message1.success {
    background-color: #28a745;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

form {
    text-align: center;
}

form input[readonly] {
    background-color: #f2f2f2;
    color: #777;
}

form button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #a71c2b;
}
